<h1>Listing company_products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Company</th>
      <th>Quantity</th>
      <th>Quantity unit</th>
      <th>Price</th>
      <th>Price unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_products.each do |company_product| %>
      <tr>
        <td><%= company_product.product_id %></td>
        <td><%= company_product.company_id %></td>
        <td><%= company_product.quantity %></td>
        <td><%= company_product.quantity_unit %></td>
        <td><%= company_product.price %></td>
        <td><%= company_product.price_unit %></td>
        <td><%= link_to 'Show', company_product %></td>
        <td><%= link_to 'Edit', edit_company_product_path(company_product) %></td>
        <td><%= link_to 'Destroy', company_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company product', new_company_product_path %>
