<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @company_product.product_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @company_product.company_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @company_product.quantity %>
</p>

<p>
  <strong>Quantity unit:</strong>
  <%= @company_product.quantity_unit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @company_product.price %>
</p>

<p>
  <strong>Price unit:</strong>
  <%= @company_product.price_unit %>
</p>

<%= link_to 'Edit', edit_company_product_path(@company_product) %> |
<%= link_to 'Back', company_products_path %>
